* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #181419;
  --primary-color: #9f3647;
  --secondary-color: #ffc098;
  --third-color: #db4648;
  --third-bis-color: #db4648;
  --bg-input-color: #f31572;

}

header {
  margin: 2px;
  padding: 5px;
  font-family: "Righteous", sans-serif;

}

a {
  text-decoration: none;
}

nav {
  display: flex;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.navigation li {
  padding: 5px;
  margin-right: 5px;

}

#banner {
  background-image: url(../img/Banner.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
}