/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --bg-color: #fff;
  --primary-color: #9f3647;
  --secondary-color: #ffc098;
  --third-color: #db4648;
  --third-bis-color: #db4648;
  --bg-input-color: #f31572;
}

/*Color de fondo*/
body {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: var(--bg-color);
}

/*Estilos barra de navegación*/
.navigation div {
  display: flex;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
}

.navigation-list ul li {
  margin-right: 2vw;
  padding: 20px;
  list-style: none;
  text-overflow: inherit;
  button {
      border: none;
      background-color: #FF0D97;
      color: #fdfdfd;
      font-family: "Righteous", sans-serif;
      font-optical-sizing: auto;
      font-weight: 800;
      font-style: normal;
      font-size: 1vw;
      text-align: center;
      border-radius: 3vw;
      padding: 1vw;
  }
}

/*Estilos banner y imagenes*/
@media screen and (max-width: 500px) {
  .banner-desktop {
    display: none;
  }

  .banner-mobile {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 5%;
  }
}

@media screen and (min-width: 501px) {
  .banner-desktop {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 5%;
  }

  .banner-mobile {
    display: none;
    border-radius: 5%;
  }
}

/*Estilos segunda sección*/
@media screen and (max-width: 1300px) {
  .gymmonafit {
    display: block;
    width: 100%;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
  }
   h2{
    display: block;
    flex-direction: column;
   }
}

.gymmonafit {
  color: #fff;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgba(212, 115, 115, 0);
  align-content: center;
  width: 100%;
  height: auto;

  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 6vw;
    background-color: rgb(46, 46, 46);
    border-radius: 1vw;
    margin-left: 10px;
    }

  span {
    color: #FF0D97;
  }

  img {
    border-radius: 1vw;
    opacity: 0.95;
    height: 50vh;
  }
}

.description-gym p {
  display: block;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FF0D97;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1vw;
  text-align: center;
  border-radius: 1vw;
  color: #fff;

  span {
    color: white;
    font-weight: 900;
  }

  a {
    button {
      border: none;
      background-color: #fff;
      color: #FF0D97;
      font-family: "Righteous", sans-serif;
      font-optical-sizing: auto;
      font-weight: 800;
      font-style: normal;
      font-size: 1vw;
      text-align: center;
      border-radius: 3vw;
      padding: 1vw;
    }
  }

}


.moanfit-family h2 {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

/* Estilos para el formulario */
#main-form {
  padding-top: 100px;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#form-wrapper {
  background-color: #fff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

h2 {
  text-align: center;
}

/* Estilos para los controles del formulario */
.form-control {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 6px;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Estilos para los mensajes de error */
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Estilos para el botón */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #FF0D97;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

button[type="submit"]:hover {
  background-color: #ff0d97;
}

/* Estilos para el enlace de ayuda */
.form-help {
  text-align: center;
  margin-top: 15px;
}

.form-help a {
  text-decoration: none;
  color: #ff0d97;
}

.form-help a:hover {
  text-decoration: none;
}

/*FOTO PARA FONDO ASOCIATE*/
#main-form {
  background-image: url(../img/gym-bg-1-ia.jpeg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.5);
}

footer{
  background-color: rgba(46, 46, 46);
  padding-top: 150px;
}